@model IEnumerable<_421_Assignment3_smundy.Models.MovieActor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Movie.Title)*@
                <a href="@Url.Action("Details", "Movies", new {item.Movie.Id})">@item.Movie.Title</a>
            </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Movie.Poster)*@
                    <img width="auto" height="100" src="@Url.Action("GetMoviePoster", "Movies", new {item.Movie.Id})" />
                </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Actor.Name)*@
                <a href="@Url.Action("Details", "Actors", new {item.Actor.Id})">@item.Actor.Name</a>
            </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Actor.Photo)*@
                    <img width="auto" height="100" src="@Url.Action("GetActorPhoto", "Actors", new {item.Actor.Id})" />

                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
